<!DOCTYPE html>
{% load staticfiles %}
<div align="center">
<link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<head>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Restaurant</title>
    <style>
        .nav-tabs > li, .nav-pills > li {
            float:none;
            display:inline-block;
            *display:inline; /* ie7 fix */
             zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align:center;
}
    </style>
</head>
<div class="container" align="center">
<ul class="nav nav-pills" style="align:center;">
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:home' %}">Home</a></li>
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:menuactlist' %}">Menu</a></li>
    </ul></div>
{% block body %}
{% endblock %}


<!--
ALL OF MY JAVASCRIPT IMPORT HERE
-->
</body>
</div>
</html>