<!DOCTYPE html>
{% load staticfiles %}
<div align="center">
<link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

<head lang="en">
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <style>
        .nav-tabs > li, .nav-pills > li {
            float:none;
            display:inline-block;
            *display:inline; /* ie7 fix */
             zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align:center;
}
    </style>
</head>
<div class="container" align="center">
<ul class="nav nav-pills" style="align:center;">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:item_form' %}">Create Item</a></li>
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:item_list' %}">List Item</a></li>
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:category_form' %}">Add Category</a></li>
    <li role="presentation" class="active"><a href="{% url 'restaurant_app:category_list' %}">Categories</a></li>
</ul></div>

{% block body %}
{% endblock %}


<!--
ALL OF MY JAVASCRIPT IMPORT HERE
-->
</body>
</div>
</html>