{% extends 'base.html' %}

<!DOCTYPE html>
<html>{% block head %}
{% endblock %}


{% block body %}
<body>
			<section id="hero" class="container">
<header>
								<h2>Welcome to our Restaurant App!
								<br />
								</h2>
							</header>
							<p><strong>Bekk Blando, Jeff Hacker, Lance Rogers, Paul Nitto</strong>
							<br />
							</p>
                            <ul class="actions">
                                <a href="{% url 'restaurant_app:menu' 0 %}" class="button"><strong>Restaurant Menu</strong></a>
						</ul>
            </section>
        </div>
    </div>



</body>
{% endblock %}
</html>
<html>