{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
{% block body %}
<body>
<h1>{{status}}</h1>
        <div>
            {% for name, value in items %}
                Item: {{ name }} <br/>  Price: ${{ value }}
            {% endfor %}
<h1>Total</h1> ${{ total }}
            <form method="POST" action="{% url 'completed' order.id %}">{% csrf_token %}
                {{ form }}
        <button type="submit">Completed</button>
    </form>
        </div>
</div>
</body>
{% endblock %}
</html>