{% extends 'base.html' %}

<!DOCTYPE html>
<html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

{% block body %}

<h1>List Categories</h1>
{% for category in object_list %}
    <div>{{category.name}}
        Category Id {{category.id}}

    <form method="POST" action="{% url 'restaurant_app:delete_category' category.id %}">
    {% csrf_token %}
    <button type="submit">Delete Category</button>
    </form>

    <form method="get" action="{% url 'restaurant_app:update_category' category.id %}">
    {% csrf_token %}
    <button type="submit">Edit Category</button>
    </form>


{% endfor %}

        </div>
{% endblock %}
</body>
</html>