{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

{% block body %}

    <h1>Comments List</h1>
{% for comment in object_list %}
    <div>{{ comment.name }}
    <form method="POST" action="{% url 'restaurant_app:delete_comment' comment.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <form method="get" action="{% url 'restaurant_app:comments_update' comment.id %}">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
    {% endfor %}


    </div>

{% endblock %}
</body>

</html>